.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.header_menu {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.header_menu a {
  text-decoration: none;
  color: #141414;
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  display: block;
}

@media (max-width: 540px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .header_menu {
    justify-content: center;
    padding: 20px;
  }
  .header a {
    background-color: #f6f6f6;
    border-radius: 4px;
  }
}
