.botao {
  padding: 1rem 2rem;
  display: inline-block;
  background: linear-gradient(#ffbb00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor_p5);
  font-size: 1.125rem;
  line-height: 1.33;
  font-family: "Poppins";
  font-weight: 600;
  max-width: max-content;
}

.botao.secundario {
  background: var(--cor_10);
  color: var(--cor_2);
}

.botao.secundario:hover {
  background: var(--cor_9);
}

.botao.seta {
  display: flex;
  align-items: center;
}

.botao.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url("../../img/icones/seta.svg");
  transition: transform 0.5s;
}

.botao.seta:hover::after {
  transform: translateX(4px);
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.container {
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  display: inline-block;
  color: var(--cor_p1);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}

.link::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: currentColor;
}

.link:hover {
  color: var(--cor_0);
}

.titulo_bg {
  background-color: var(--cor_11);
  padding: 60px 0px;
}

.titulo_bg p {
  margin-bottom: 4px;
}

@media (max-width: 800px) {
  .titulo_bg {
    padding: 40px 0px;
  }

  .titulo p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}
