.introducao_bg {
  background: var(--cor_12) url("../../img/dec/bottom-left.svg") no-repeat
    bottom 160px left 20px;
  box-shadow: inset 0px -120px var(--cor_0);
}

.introducao {
  display: grid;
  grid-template-columns: 6fr 6fr;
  gap: 0px 40px;
}

.introducao_conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao h1 {
  margin-bottom: 32px;
}

.introducao p {
  margin-bottom: 20px;
}

.introducao img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 3rem;
  }

  .introducao p {
    font-size: 1.125rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introducao_bg {
    background-color: var(--cor_11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--cor_0);
  }

  .introducao_conteudo {
    padding-bottom: 0px;
  }

  .introducao h1 {
    font-size: 2rem;
    margin-bottom: 16px;
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }
}
