.introducao_bg {
  background-color: #000000;

  box-shadow: inset 0px -120px;
}

.introducao {
  display: grid;
  grid-template-columns: 6fr 6fr;
  gap: 0px 40px;
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px auto;
}

.introducao_conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao h1 {
  margin-bottom: 32px;
}

.introducao p {
  margin-bottom: 20px;
}

.introducao h1 span {
  color: #ffbb00;
}

.introducao img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 3rem;
  }

  .introducao p {
    font-size: 1.125rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introducao_bg {
    background-color: #111111;
    padding-top: 40px;
    box-shadow: inset 0 -60px #ffffff;
  }

  .introducao_conteudo {
    padding-bottom: 0px;
  }

  .introducao h1 {
    font-size: 2rem;
    margin-bottom: 16px;
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }
}
