.bicicletas_lista {
  padding-top: 60px;
  padding-bottom: 120px;
}

.bicicletas_lista h2 {
  margin-bottom: 40px;
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.bicicletas_lista ul {
  display: flex;
  gap: 40px;
  padding: 0px 20px 20px 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.bicicletas_lista li {
  min-width: 280px;
}

.bicicletas_lista img {
  margin-bottom: 16px;
}

.bicicletas_lista a {
  display: block;
}

.bicicletas_lista h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.bicicletas_lista h3::before {
  content: "";
  background-color: var(--cor_p1);
  height: 8px;
  width: 12px;
  margin-right: 8px;
  display: inline-block;
}

.bicicletas_lista li span {
  padding-left: 20px;
}

@media (max-width: 800px) {
  .bicicletas_lista {
    padding-bottom: 60px;
  }

  .bicicletas_lista ul {
    gap: 20px;
  }
}
