.footer_bg {
  background-color: var(--cor_12);
}

.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
  padding: 60px 0px;
}

.footer_copy {
  grid-column: 1/-1;
  margin-top: 40px;
}

.footer h3 {
  margin-bottom: 32px;
}

.footer_contato ul {
  margin-bottom: 32px;
}

.footer_contato li:nth-child(even):after {
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  background: var(--cor_11);
}

.footer li {
  margin-bottom: 16px;
}

.footer_redes {
  display: flex;
  gap: 32px;
}

.footer a:hover {
  color: var(--cor_0);
}
