.header_bg {
  background-color: var(--cor_12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-right: 20px;
}

.header_menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header_menu a {
  display: inline-block;
  padding: 16px 0px;
  color: #ffffff;
  font-size: 1.125rem;
  position: relative;
  font-family: "Poppins";
  font-weight: 400;
}

.header_menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: var(--cor_0);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header_menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header_menu {
    gap: 20px;
  }

  .header_menu a {
    background: var(--cor_11);
    padding: 12px 0px;
    border-radius: 4px;
  }
  .header_menu a:hover {
    background-color: var(--cor_10);
  }
  .header_menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header_menu {
    gap: 12px;
    justify-content: center;
  }
  .header_menu a {
    padding: 8px 12px;
    font-size: 0.875rem;
  }
}
